<div class="login">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img src="./CONTENT/AppContent/logo.png" class="img-responsive logo">
		</div>
	</div>
	
	<div class="row formLogin">
		<div class="col-sm-12">
			<div class="form-group">
				<input type="text" ng-model="User.Name" placeholder="User" class="form-control"></input>
			</div>
		</div>
		

		<div class="col-sm-12">
			<div class="form-group">
				<input type="password" ng-model="User.Password" placeholder="Password" class="form-control"></input>
			</div>
		</div>

		

		<div class="col-sm-12">
			<div class="col-sm-6">
				<button ng-click="Login()" class="btn btn-default">Login</button>
			</div>
			<div class="col-sm-6">
				<button ng-click="SignUp()" class="btn btn-default">SingUp</button>
			</div>
				
				
			
		</div>


	<div class="row">
		<div class="col-sm-6">
			<img src="./CONTENT/AppContent/fb_logo.png" class="logo_social">
		</div>
		<div class="col-sm-6">
			<img src="./CONTENT/AppContent/googlePlus_logo.png" class="logo_social">
		</div>
	</div>

		
	
	</div>
</div>
